.service-page {
    background-color: #E3D4C6;
}

.services {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.services-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.service-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: #ffffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.img-lg {
    width: 3rem;
    height: 3rem;
}

.img-lg img {
    width: 100%;
    height: 100%;
}

.services-right {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    border-radius: 1rem;
    padding: 3rem;
    background-color: #ffffff;
}

.title-service-right {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.select-citys,
.select-services {
    text-align: center;
}

.select-citys>.select-buttons-1,
.select-citys>.select-buttons-2,
.select-services>.select-buttons-3 {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    padding: 2rem 0;
}

.select-citys>.select-buttons-2 {
    padding: 0;
}

.select-buttons-1 .btn,
.select-buttons-2 .btn,
.select-buttons-3 .btn {
    flex: 1;
    background-color: #E3D4C6;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-click {
    background-color: #6B3938;
    color: #E3D4C6;
    flex: 1;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.lawyer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nameOAB {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0 24px 0;
}

.nameOAB p {
    font-size: 1.2rem;
}

.nameOAB span {
    font-size: 1rem;
    font-style: italic;
}

.whatsapp {
    display: flex;
    align-items: center;
    gap: 10px;
}

.whatsapp span {
    font-size: 0.8rem;
    color: #000;
}

.numberWhataspp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    color: #000;
}

@media screen and (max-width: 1060px) {
    .services {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .services-left {
        max-width: 95%;
        flex-direction: row;
        justify-content: center;
    }

    .services-right {
        max-width: 95%;
        gap: 2rem;
    }

    .title-service-right {
        justify-content: center;
    }
}

@media screen and (max-width: 840px) {
    .service-circle {
        width: 8rem;
        height: 8rem;
        font-size: 0.8rem;
    }
}