a {
    text-decoration: none;
}

.service-page {
    background-color: #E3D4C6;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    line-height: 49px;
    letter-spacing: 0.1em;
    font-size: 40px;
    padding: 50px;
}

.services {
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 4px;
}

.services-left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.service-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-weight: 600;
}

.img-lg {
    width: 2.5rem;
    height: 2.5rem;
}

.img-lg img {
    width: 100%;
    height: 100%;
}

.services-right {
    border-radius: 1rem;
    padding: 4rem;
    background-color: #ffffff;
}

.title-service-right {
    font-size: 1.2rem;
    text-align: center;
}

.select-citys,
.select-services {
    text-align: center;
    padding: 1rem 0.5rem;
}

.select-services {
    padding: 2rem 0 4rem 0;
}

.select-citys p,
.select-services p {
    padding: 12px;
}

.select-citys > .select-buttons-1, 
.select-citys > .select-buttons-2,
.select-services > .select-buttons-3 {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 32px 0;
}

.select-citys > .select-buttons-2 {
    padding: 0;
}

.select-buttons-1 .btn,
.select-buttons-2 .btn,
.select-buttons-3 .btn {
    flex: 1;
    background-color: #E3D4C6;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-click {
    background-color: #6B3938;
    color: #E3D4C6; 
    flex: 1;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.lawyer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.lawyer-contact > .details > .nameOAB {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 0 24px 0;
}

.lawyer-contact > .details > .nameOAB > p {
    font-size: 24px;
}

.lawyer-contact > .details > .nameOAB > span {
    font-size: 14px;
    font-style: italic;
}

.whatsapp {
    display: flex;
    align-items: center;
    gap: 10px;
}

.whatsapp span {
    font-size: 14px;
    color: #000;
}

.numberWhataspp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    color: #000;
}