header {
    width: 100%;
}

.header-contact, .header-contact div, .header-nav {
    display: flex;
    align-items: center;
}

.header-contact {
    padding: 0.5rem 0.5rem 0.5rem 2%;
    gap: 2rem;
    background-color: white;
}

.header-contact div {
    gap: 0.6rem;
}

.header-nav {
    padding: 0.5rem 10%;
    background-color: #6B3938;
    justify-content: space-between;
}

.header-logo {
    width: 18.75;
}

.header-nav nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.header-nav a {
    color: white;
}

@media screen and (max-width: 840px) {
    .header-nav {
        padding: 0.5rem 5%;
        background-color: #6B3938;
        justify-content: space-between;
    }

    .header-logo {
        width: 12rem;
    }
}

@media screen and (max-width: 520px) {
    .header-logo {
        width: 8rem;
    }
    
    .header-nav nav {
        gap: 2rem;
    }
}